* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: rgba(92, 82, 102, 1);
    font-size: 10px;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: rgba(58, 188, 71, 1);
    height: 10vh;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    display: flex;
    flex-direction: row;
}

.navbar-links {
    height: 100%;
    font-size: 1.5rem;
    padding-right: 50px;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color:rgba(58, 188, 71, 1);
    padding: 1rem;
}

.navbar-links li a:hover {
  color: white;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
        height: 5vh;
    }

    .navbar-links {
        display: none;
        width: 100%;
        padding-left: 50px;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    .brand-title {
        margin-top: -15px;
        font-size: 1.3rem;
    }
}


